.containerAbo {
  margin: 20px;
}
.containerAbo h2 {
  align-items: center;
  text-align: center;
}
.containerAbo h3 {
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.containerAbo .flex-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: 10px;
}
.feature-card img {
  width: 100px;
  height: 130px;
}
