.blog {
  padding-block-end: calc(35px);
  margin-top: 50px;
}

.blog .section-title {
  text-align: center;
  /* margin-block-end: 40px; */
}

.blog-card .card-banner img {
  transition: 0.5s ease;
  width: 350px;
  height: 250px;
  size: cover;
}

.blog-card:is(:hover, :focus-within) .card-banner img {
  transform: scale(1.2);
}

.card-title {
  text-align: center;
  transition: 0.25s ease;
  margin-left: 140px;
}

.blog-card .card-title:is(:hover, :focus) {
  color: hsl(148, 20%, 38%);
}

.blog-card .btn-link {
  justify-content: center;
  margin-left: 140px;
}
.flex-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 250px;
  margin-left: 200px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.flex-list a {
  color: black;
}
.section-titleD {
  text-align: center;
  padding: 30px;
  font-weight: 2000;
  font-size: x-large;
}
