.admin-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #333;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.form-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

input::placeholder {
  color: #aaa;
}

button.btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 8px;
}

button.btn:hover {
  background-color: #45a049;
}

button.edit-btn {
  background-color: #ffa500;
}

button.edit-btn:hover {
  background-color: #ff8c00;
}

button.delete-btn {
  background-color: #f44336;
}

button.delete-btn:hover {
  background-color: #e53935;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.product-table th {
  background-color: rgb(127, 165, 68);
  color: white;
}

.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table tr:hover {
  background-color: #ddd;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
