a {
  text-decoration: none;
}
.collection {
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.item {
  width: 400px;
  height: 420px;
  padding: 0px 20px 0px 20px;
  text-align: left;
}
.item img {
  width: 200px;
}

.collection h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.collection p {
  color: #666;
  margin-bottom: 20px;
}

.btn_link {
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 250px;
}

.btn_link:hover {
  text-decoration: underline;
}
.collection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.item {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-blend-mode: overlay;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.item:hover {
  box-shadow: 0 10px 20px rgb(255, 255, 255);
}

.btn_link {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn_link:hover {
  background-color: #ffffff86;
}
